{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br />
    <h1 class="display-4">About Vis.Report</h1>
    <hr />
    <p class="lead text-muted">
      Vis.Report contains a database of visibility and condition reports for dive sites around Perth, all contributed by users.
      Dive sites are curated by myself. If you have a suggestion for a site that isn't on here, please email <a href = "mailto:secretary@maawa.net">secretary@maawa.net</a>.
      Please share it around, the more people that contribute frequently, the more useful the information becomes!

      <p class="lead text-muted">
        The data contributed is made freely available for research. The factors affecting dive conditions and visibility are not yet fully understood, particularly in the Swan River.
        This sort of information from citizen scientists will give us greater insight, and make for better diving.
        JSON files for the <a href = "{% url 'sites' %}">sites <span class="oi oi-data-transfer-download"></span></a> and <a href = "{% url 'reports-json' %}">reports <span class="oi oi-data-transfer-download"></span></a> are dynamically generated straight from the database.
        These contain exactly the same information as is visible on the site, except username is replaced with a unique number.
      </p>
    </p>
    <p class="lead text-muted">
      This site is built on the Django webframework, connected to a PostgeSQL database with a PostGIS extension. All passwords are stored as a secure hash using Django's authentication system.
      All code can be found on the <a href = "https://github.com/PatrickMorrison1498/visreport">Github page</a>.
    </p>
  </div>

</div>

{% endblock %}