{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br />
    <h1 class="display-4">About Vis.Report</h1>
    <hr />
    <p class="lead text-muted">
      Vis.Report contains a databse of visability and conditions reports for dive sites around Perth, all contributed by users.
      Dive sites are curated manually. If you have a suggestion for a site that isn't on here, please email <a href = "mailto:secretary@maawa.net">secretary@maawa.net</a>.
      Please share it around, the more people that contribute the more useful the site becomes!
    </p>
    <p class="lead text-muted">
      It is built on the Django webframework, connected to a PostgeSQL database with a PostGIS extension. All passwords are stored as a secure hash using Django's authentication system.
      All code can be found on the <a href = "https://github.com/PatrickMorrison1498/visreport">Github page</a>.
    </p>
  </div>

</div>

{% endblock %}