{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br />
    <h1 class="display-4">{{Sites.site_name}} <small class="text-muted"> ({{Sites.site_code}})</small> </h1>
    <hr />
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Visability (m)</th>
        <th scope="col">Conditions</th>
        <th scope="col">Comment</th>
        <th scope="col">Reported by</th>
      </tr>
    </thead>
    <tbody>
    {%for Observation in Observations%}
        {%if Observation.visability > 19.9%}    
        <tr class="table-primary">
            {%elif Observation.visability > 9.9%}    
        <tr class="table-success">
            {%elif Observation.visability > 4.9%}    
        <tr class="table-warning">
            {%else%}
        <tr class="table-danger">
            {%endif%} 
        <th scope="row">{{Observation.when_observed}}</th>
        <td>{{Observation.visability}}</td>
        <td>{{Observation.conditions}}</td>
        <td>{{Observation.comment}}</td>
        <td>@{{Observation.user.username}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}