{% extends 'base.html' %}

{% block content %}

{%if error%}
<br/>
{{error}}
<br/>
{%endif%}

<head>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>


</head>

<script>
$(document).ready(function() {
    var $window = $(window);

        // Function to handle changes to style classes based on window width
        function checkWidth() {
        if ($window.width() < 992) {
            $('#table').addClass('table-sm');
            $('#mobile-add-report').show();
            };

        if ($window.width() >= 992) {
            $('#table').removeClass('table-sm');
            $('#mobile-add-report').hide();
        }
    }

    // Execute on load
    checkWidth();

    // Bind event listener
        $(window).resize(checkWidth);
});
</script>

<div class="container">
    <br />
    <h1 class="display-4">{{Sites.site_name}} <small class="text-muted"> ({{Sites.site_code}})</small> </h1>
    <hr />
    <p class="lead text-muted">{{Sites.site_description}}</p>
  </div>
</div>

{% if user.is_authenticated %}

<div class="container" id = "mobile-add-report">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapse-mobile-add-report" aria-expanded="true" aria-controls="collapse-mobile-add-report">
                Contribute Report
              </button>
          </div>
          <div class="collapse show" id="collapse-mobile-add-report">
        <div class="card-body">
    <form class="form-horizontal" method="POST" action = "{% url 'detail' Sites.site_code%}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-8">
              <label for="datetimepicker">Date/Time</label>
                <input type="text" class="form-control datetimepicker-input" id="datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" name="when_observed" placeholder="YYYY-MM-DD HH:mm" required/>

                <script type="text/javascript">
                      $('#datetimepicker1').datetimepicker({ format: "YYYY-MM-DD HH:mm"})
                  </script>
                </div>

            <div class="form-group col-4">
                    <label for="visibility">Visibility (m)</label>
                    <input class = "form-control" type="number" id="visibility" name="visibility" min="0" max="25" placeholder="0-25" required>
                  </div>
                </div>
            <div class="form-row">  
            <div class="form-group col-8">
                    <label for="comments">Comments</label>
                    <input class = "form-control" type="text" name="comments" id="comments" maxlength="30" placeholder="Optional">
                  </div>
            <div class="form-group col-4">
            <label for="conditions">Conditions</label>
            <select class="form-control" name="conditions" id="conditions" required>
                <option>Glassy</option>
                <option selected>Fair</option>
                <option>Windy</option>
                <option>Rough</option>
              </select>
            </div>
        </div>
  
  

          <div class="form-row">
          <input class = "btn btn-primary btn-lg btn-block" type="submit" value="Add Observation"/>
          </div></div></div>
        </form>
</div>

</div>
</div>
<br />
{% endif %}

<div class="container">
    <table class="table table-responsive-sm" id='table'> 
      {% if not user.is_authenticated %}
      <caption><a href="{% url 'login' %}">Sign in to add reports</a></caption>
      {% endif %}
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th class = "d-none d-lg-table-cell" scope="col">Visibility (m)</th>
          <th class = "d-lg-none" scope="col">Vis (m)</th>
          <th scope="col">Conditions</th>
          <th scope="col">Comment</th>
          <th class = "d-none d-lg-table-cell" scope="col">Reported by</th>
          <th class = "d-lg-none" scope="col">Reporter</th>
        </tr>
      </thead>
      <tbody>
      
        {% if user.is_authenticated %}
        <form class="form-horizontal" method="POST" action = "{% url 'detail' Sites.site_code%}">
            {% csrf_token %}
            <tr class = "d-none d-lg-table-row">
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control datetimepicker-input" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" name="when_observed" placeholder="YYYY-MM-DD HH:mm" required/>
                            </div>
                            <script type="text/javascript">
                                $('#datetimepicker2').datetimepicker({ format: "YYYY-MM-DD HH:mm"})
                            </script>
                        </div>
                    </div>

                
                </td>
                <td><div class="col-sm-12"></div><input class = "form-control" type="number" name="visibility" min="0" max="25" placeholder="0-25" required></td>
                <td><div class="col-sm-12"><select class="form-control" name="conditions" required>
                    <option>Glassy</option>
                    <option selected>Fair</option>
                    <option>Windy</option>
                    <option>Rough</option>
                  </select></div></td>
                <td><div class="col-sm-12"><input class = "form-control" type="text" name="comments" maxlength="30" placeholder="Optional"></div></td>
                <td><div class="col-sm-12"><input class = "btn btn-primary" type="submit" value="Add"/></div></td>
            </tr>
        </form>
        {% endif %}
  
      {%for Observation in Observations%}

          {%if Observation.visibility > 19.9%}    
          <tr class="table-primary">
              {%elif Observation.visibility > 9.9%}    
          <tr class="table-success">
              {%elif Observation.visibility > 4.9%}    
          <tr class="table-warning">
              {%else%}
          <tr class="table-danger">
              {%endif%} 
          <th scope="row">{{Observation.when_observed}}

            {%if Observation.user.username == request.user.username%}

            <form id="delete-{{Observation.pk}}" method="POST" action="{% url 'delete' Observation.pk%}">
                {%csrf_token%}
                <input type="hidden">
                </form>

            <a href="javascript:{document.getElementById('delete-{{Observation.pk}}').submit()}"><span class="oi oi-trash"></span></th></a>
            
                {%endif%} 
          <td >{{Observation.visibility}}</td >
          <td>{{Observation.conditions}}</td>
          <td>{{Observation.comments}}</td>
          <td>@{{Observation.user.username}} </span></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</div>
{% endblock %}
